# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.env
*.venv/
.envrc
.env.*

# Data and Log files
log/
data/

# macOS
.DS_Store

# VSCode
.vscode/

# OS-specific
Thumbs.db